@using view_model.Common;
@model PagedResult<ProductResponse>
@{
    var count = 1;
}
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var mesgSuccess = "@Html.Raw(TempData["Success"])";
            var mesgFailure = "@Html.Raw(TempData["Failure"])";
            if (mesgSuccess != "") toastr.success(mesgSuccess);
            if (mesgFailure != "") toastr.error(mesgFailure);
        });
    </script>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Products</li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <form asp-action="" method="get" asp-controller="product" asp-route-categoryid="@ViewBag.categoryId" asp-route-keyword="@ViewBag.keyword" style="padding-bottom:10px">
                        <div class="d-flex flex-row-reverse">
                            <div class="input-group input-group-sm" style="width: 300px;">
                                <input type="text" name="keyword" class="form-control float-right" placeholder="Search by name" value="@ViewBag.keyword">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group input-group-sm col-4">
                                @Html.DropDownList("categoryid", (List<SelectListItem>)ViewData["OptionsCategory"], "Choose category", new { @class = "custom-select", @onchange = "this.form.submit()" })
                            </div>
                        </div>
                    </form>
                </div>
                <a class="btn btn-success" asp-action="create" asp-controller="product">Create New Product</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Price (Dong)</th>
                            <th>Description</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td><strong>@count</strong></td>
                                <td>@(item.Active==true?"Active" : "Hide")</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Description</td>
                                <td>
                                    <form method="post" asp-controller="product" asp-action="hide">
                                        <a href="/product/detail/@item.Id" data-toggle="tooltip" title="Detail"><i class="fas fa-eye"></i></a>
                                        <input hidden name="Id" value="@item.Id" />
                                        <input hidden name="ProductGroup" value="@item.ProductGroup.Id" />
                                        <button type="submit" class="btn-link"><i class="fas fa-trash" data-toggle="tooltip" title="Hide Product"></i></button>
                                    </form>
                                </td>
                            </tr>
                            count++;
                        }
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="text-center">Sorry , No data avaliable</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</section>